/*font source is CBNU site (http://www.chungbuk.ac.kr/site/70th/sub.do?key=1819) here.*/

@font-face {
    font-family: 'cbnu70-regular';
    font-weight: normal;
    font-style: normal;
    font-display:block;
    src: url('../fonts/cbnu70-regular.woff2') format('woff2');
         url('../fonts/cbnu70-regular.woff') format('woff');
         url('../fonts/cbnu70-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'cbnu70-bold';
    font-style: normal;
    font-display:block;
    src: url('../fonts/cbnu70-bold.woff2') format('woff2');
         url('../fonts/cbnu70-bold.woff') format('woff');
         url('../fonts/cbnu70-bold.ttf') format('truetype');
}